.modal {
  position: absolute;
  top: -100px;
  background-color: #AD343E;
  border-radius: 5px;
  padding: 12px;
  transition: all 1s;
}

.show {
  top: 15px;
}

.hide {
  top: -100px;
}

.modal p {
  color: white;
  margin: 0;
}